@model GoodsPackaging.Models.CompanyGoodsPackage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompanyGoodsPackage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageType.PackageTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoodsType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoodsType.GoodsTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackagingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackagingDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.companyGoodsPackageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
